@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
body{
    background-color: black;
}
.nav-menu{
    z-index: 10;
    border: 1px solid yellow ;
    margin: 5px;
    background-color: black;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: white !important;
}
.nav-link:hover{
    color: none !important;
}
.navbar-brand{
    width: 40%;
}
.carousel{
    position: absolute;
    top: 0px !important;
    width: 100%;
}
.carousel-item img{
    margin: auto;
    width: 30% !important;
    height: 100vh;

}
.container-about{
    margin-top: 50px;
    display: flex;

    flex-wrap: wrap;
    width: 100%;
}
.picture{
    width: 40%;
    height: 20% !important;
    object-fit: contain;
}
.content h1{
    font-family: 'Roboto', sans-serif;
    color: gold;
}
.content{
    width: 50%;
    margin-left: 20px;
}
.content p{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    padding-bottom: 10px;
    padding-top: 20px;
    color: gold;
    text-align: start;
    text-align: center;
}

.card{
    width: 350px;
    height: 220px;
    border-radius: 20px ; 
    transition: all 0.75s; 
    margin: 15px;
    border: none !important;
}
.card img{
    border-radius: 20px;
    height: 220px;
}
.card:hover{
    /*box-shadow: -4px 17px 31px -1px rgba(0,0,0,0.77);
    -webkit-box-shadow: -4px 17px 31px -1px rgba(0,0,0,0.77);
    -moz-box-shadow: -4px 17px 31px -1px rgba(0,0,0,0.77);
    */transform: translateY(-3px);
}
.card-body{
    position: absolute;   
    bottom: 0;  
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 60px;
    transition: 1s;
    display: flex;
    justify-content: space-between;

}
.card-body:hover{
    background-color: black;
}

.description-dish p{
    font-size: 1.2rem;
    color: black;
}
.card-body a{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.cards-dishes{
    position: relative;
    top: -720px;
    left: 400px;
    margin: 0px 10px 10px 0;
    background-color: white;
    width: 35%;
    display: inline-flex;
    flex-wrap: wrap;
}
.card-body-dishes{
    margin: auto;
}
.title-dishes{
   display: flex;
   justify-content: space-around;
   visibility: hidden;
}
.title-dishes a{
    color: white;
    text-decoration: none !important;
    font-size: 1.5rem;
}


@media only screen and (max-width: 1400px){
    .cards-dishes{
        left: 390px;
        width: 34%;
    }
}
@media only screen and (max-width: 1300px){
    .cards-dishes{
        width: 33%;
    }
}
@media only screen and (max-width: 1200px) {
    .carousel-item img{
        height: 700px !important;
        object-fit: cover;
        width: 50% !important;     
    }
    .card{
        width: 100%;
    }
    .card-body a{
        font-size: 1.2rem;
    }
    .description-dish{
        font-size: 1rem;
    }
    .cards{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

    }
    .cards-dishes .card-text{
        font-size: 1.5rem;
    }
    .cards-dishes{  
        top: 50px;
        width: 80%;
        left: 100px;
    }
   
    .content p{
        font-size: 1.2rem;
    }
    .content{
        width: 70%;
    }
  }

@media only screen and (max-width: 1100px){ 
    .cards-dishes{
        left: 80px;
    }
    .cards{ 
        display: block;
        justify-content: center;
        
    }
    .card{
        margin-bottom: 10px;
        width: 90%;
        height: 250px;
        margin: auto auto 10px;
    }
    .card img{
        height: 250px;
        object-fit: cover;
    }
    .card-body a{
        font-size: 1.5rem;
    }
    .description-dish{
        font-size: 1.5rem;
    }

} 
@media only screen and (max-width: 900px) {
    .title-dishes{
        visibility: visible;
        margin-top: 50px;
     }
     .card{
         display: none;
     }
     .title h1{
         display: none;
     }
}
@media only screen and (max-width: 750px){
    .cards-dishes{
        left: 78px;
    }
    .card-food img{
        width: 80% ;
    }
}


@media only screen and (max-width: 650px) {

    .carousel-item img{
        height: 450px !important;
        object-fit: cover;
        width: 50% !important;
    }
    .content p{
        font-size: 1.2rem;
    }
    .picture{
        width: 50%;
    }
    .content{
        width: 70%;
    }
    .title h1{
        font-size: 2rem;
    }
    .cards-dishes{
        left: 60px;
    }
  }

@media only screen and (max-width: 500px){

    .cards-dishes .card-text{
        font-size: 1.2rem !important;
    }
    .cards-dishes{
        left: 52px;
    }

}
@media only screen and (max-width: 380px){
    .cards-dishes .card-text{
        font-size: 1.1rem !important;
        margin-left: -65px !important;
    }
    .cards-dishes{
        left: 35px;
    }
    .card-food .image img{
        width: 55%;
 }

}