@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
body{
    background-color: black;
}
.nav-menu{
    z-index: 10;
    border: 1px solid yellow ;
    margin: 5px;
    background-color: black;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: white !important;
}
.nav-link:hover{
    color: none !important;
}
.navbar-brand{
    width: 40%;
}
.carousel{
    top: -30px;
}
.carousel-item img{
    margin: auto;
    width: 30% !important;
    height: 100vh;
    top: -100px;
    position: relative;
}

.container-about{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.picture-about img{
    height: 70%;
    object-fit: contain;
    display: block;
    margin: auto;
}
.content{
    width: 50%;
}
.content h1{
    font-family: 'Roboto', sans-serif;
    color: gold;
}

.content p{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    padding-bottom: 10px;
    padding-top: 20px;
    color: gold;
    text-align: start;
    text-align: center;
}

.card{
    width: 350px;
    height: 220px;
    border-radius: 20px ; 
    transition: all 0.75s; 
    margin: 15px;
    border: none !important;
}
.card img{
    border-radius: 20px;
    height: 220px;
}
.card:hover{
    /*box-shadow: -4px 17px 31px -1px rgba(0,0,0,0.77);
    -webkit-box-shadow: -4px 17px 31px -1px rgba(0,0,0,0.77);
    -moz-box-shadow: -4px 17px 31px -1px rgba(0,0,0,0.77);
    */transform: translateY(-3px);
}
.card-body{
    position: absolute;   
    bottom: 0;  
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 60px;
    transition: 1s;
    display: flex;
    justify-content: space-between;

}

.description-dish p{
    font-size: 1.2rem;
    color: black;
}
.card-body a{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.cards-dishes{
    position: relative;
    top: -720px;
    left: 400px;
    margin: 0px 10px 10px 0;
    background-color: white;
    width: 35%;
    display: inline-flex;
    flex-wrap: wrap;
}
.card-body-dishes{
    margin: auto;
}
.title-dishes{
   display: flex;
   justify-content: space-around;
   visibility: hidden;
   position: relative;
   left: -45px ;
}

.title-dishes a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    width: 10px;
}

@media only screen and (max-width: 1500px){
   .carousel-item img{
       width: 50% !important;
   }
}
@media only screen and (max-width: 1400px){
    .cards-dishes{
        left: 390px;
        width: 34%;
    }
}
@media only screen and (max-width: 1300px){
    .cards-dishes{
        width: 33%;
    }
}
@media only screen and (max-width: 1200px) {
    .carousel-item img{
        height: 700px !important;
        object-fit: cover;
        width: 50% !important;     
    }
    .card{
        display: none;
    }
    .title-dishes{
        visibility: visible;
        margin: 50px 0 50px 0;
    }
    .title h1{
        display: none;
    }
    .cards-dishes .card-text{
        font-size: 1.5rem;
    }
    .cards-dishes{  
        top: 50px;
        width: 80%;
        left: 100px;
        top: -10px;
    }
   
    .content p{
        font-size: 1.2rem;
    }
    .content{
        width: 70%;
    }
  }
.active{
    color: yellow !important;
}
.active p{
    font-size: 1.9rem;
    height: 20px;
    line-height: 35px;
}
@media only screen and (max-width: 900px) {
    .title-dishes{
        visibility: visible;
        margin-top: 50px;
     }
     .card{
         display: none;
     }
     .title h1{
         display: none;
     }
     .cards-dishes{
         width: 90%;
         margin-left: -55px;
     }
}
@media only screen and (max-width: 750px){
    .cards-dishes{
        margin-left: -60px;
    }
}

@media only screen and (max-width: 650px) {

    .carousel-item img{
        height: 450px !important;
        object-fit: cover;
        width: 50% !important;
    }
    .content p{
        font-size: 1.2rem;
    }
    .picture{
        width: 50%;
    }
    .content{
        width: 70%;
    }
    .cards-dishes{
        margin-left: -70px;
    }
    .cards-dishes .card-text{
        font-size: 1.4rem;
    }
    .title-dishes a{
        font-size: 1.3rem;
    }
    .active p{
        font-size: 1.5rem;
    }
  }

@media only screen and (max-width: 500px){

    .cards-dishes .card-text{
        font-size: 1.2rem;
    }
    .cards-dishes{
        margin-left: -85px;
        width: 95%;
    }
    .card-food .image img{
        width: 75%;
 }

}
@media only screen and (max-width: 450px){
    .cards-dishes .card-text{
        font-size: 1.1rem;
        margin-left: -65px;
    }
    .cards-dishes{
        left: 45px;
        margin-left: -35px;
    }
    .card-food .image img{
        width: 65%;
 }

}