.footer{
    background-color: black;
    padding: 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.71);
}
.contenedor-footer{
    justify-content: flex-end;
    align-items: center;
}
.texto-footer{
    color: white;
    position: relative;
    font-weight: 600;
    width: 100%;
   
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.icono-redes{
   margin-left: 30px;
   
}
.icono-redes:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.cajon-redes{
    margin-right: 150px;
}
@media only screen and (max-width: 1000px){
    .texto-footer{
        position: relative;
        left: 100px;
    }
    .cajon-redes{
        position: relative;
        display: flex;
      
    }
}
@media only screen and (max-width: 770px){
    .cajon-redes{
        position: relative;
        left: 150px;
    }
}
@media only screen and (max-width: 550px){
    .cajon-redes{
    position: relative;
       width: 100%;
       right: 50px;
    }
    .texto-footer{
        left: 10px;
    }
}
