@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.img-presentation{
    width: 163px;
    height: 320px;
    margin: auto;
}
.presentation{
    background-image: url(https://i.postimg.cc/x82dCJVS/fondo-presentation.png); 
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    border-top: 1px solid rgba(128, 128, 128, 0.684);
    border-bottom:1px solid rgba(128, 128, 128, 0.684) ;
}
.text-presentation{
    color: white;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}
.tittle-presentation{
    color: goldenrod;
    font-size: 2.5rem;
    margin-bottom: 20px;

}
.carta-cerveza{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.container-cervezas{
    display: flex;
    align-items: center;
}
.titulo-nuestras-pintas{
    color: goldenrod;
    font-size: 3rem;
    
}
.volumen{
    color: white;
    font-size: 1.1rem;
}
.num-vol{
    color: goldenrod;
    font-size: 1.7rem;
    margin-left: 5px;
}
.invalid{
    margin-bottom:  16px ;
    margin-top: -10px;
}